/*==== CSS VARIABLES ====*/
:root {
  --C1: hsl(0, 0%, 100%); /*White*/
  --C2: hsl(212, 45%, 89%); /*Light-gray*/
  --C3: hsl(220, 15%, 55%); /*Grayish-blue*/
  --C4: hsl(218, 44%, 22%); /*Dark-blue*/
}


/*==== LAYOUT ====*/

.reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reset-rem {
  font-size: 10px;
}

.main-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*Code added.  This renders ".m-t--50" in the
    main-container obsolete*/
}

.sub-container {
  text-align: center;
}

.w--285 {
  width: 285px;
}

.h--460 {
  height: 460px;
}

/* Can be removed since not used anywhere else in index.html
.m-t--50 {
  margin-top: 50px;
}
*/

.m-t--15 {
  margin-top: 15px;
}

.b-radius--10 {
  border-radius: 10px;
}

.b-radius--15 {
  border-radius: 15px;
}


/*==== TYPOGRAPHY ====*/

.f-fam--outfit {
  font-family: "Outfit", sans-serif;
}

.f-size--15 {
  font-size: 1.5rem;
}

.f-size--21 {
  font-size: 2.1rem;
}


/*==== COLOR SCHEME ====*/

.text-color--c3 {
  color: var(--C3);
}

.text-color--c4 {
  color: var(--C4);
}

.b-g-color--c1 {
  background-color: var(--C1)
}

.b-g-color--c2 {
  background-color: var(--C2)
}
